body{
    margin: 100px;
    font-family:Arial;
    background-size:cover;
    background-position:center;
    color:black;
    
}
h1{
    color:black;
}
p{
    font-size:20px;
}
img{
    margin-right:auto;
    margin-left:auto;
    border-radius:2px;
    border:2px solid white;
}

#bio{
    background-color:pink;
    color:black;
    display:flex;
    justify-content:center;
}

.content{
    font-family:Arial;
}
#MJ{
    height:300px;
    width:500px;
}
